body {
    background-color: #f0f0f0;
}

.parrafo {
    font-size: 1.5em;
    text-align: center;
    background-color: #f0f0f0;
    border: 1px solid #000; /* Marco fino de color negro */
    padding: 10px; /* Espaciado interno */
    margin: 10px 0; /* Espaciado externo */
}

.parrafo-small {
    font-size: 1.2em;
    text-align: center;
    background-color: #f0f0f0;
    border: 1px solid #000; /* Marco fino de color negro */
    padding: 10px; /* Espaciado interno */
    margin: 10px 0; /* Espaciado externo */
}

.carousel-container {
    padding: 20px;
    background-color: #f0f0f0;
}

.carousel .carousel-item img {
    width: 70%;
}

/*-------------PRINCIPAL ULTIMO-----------*/

body {
    background-color: #f0f0f0;
}

.parrafo {
    font-size: 1.5em;
    text-align: center;
    background-color: #f0f0f0;
    border: 1px solid #000; /* Marco fino de color negro */
    padding: 10px; /* Espaciado interno */
    margin: 10px 0; /* Espaciado externo */
}


.parrafo-small {
    font-size: 1.2em;
    text-align: center;
    background-color: #f0f0f0;
    border: 1px solid #000; /* Marco fino de color negro */
    padding: 10px; /* Espaciado interno */
    margin: 10px 0; /* Espaciado externo */
}

.carousel-container {
    padding: 20px;
    background-color: #f0f0f0;
}

.carousel .carousel-item img {
    width: 70%;
}


/*----------------NAVBAR--------------------*/

.navbar-custom {
    background-color: #6c757d; /* Color de fondo para la barra de navegación */
}

.navbar-brand img {
    width: 75px; /* Ancho de la imagen del logo */
    height: auto; /* Altura automática para mantener la proporción */
}

.navbar-brand, .navbar-nav .nav-link {
    color: #ffffff; /* Color del texto para el logo y las pestañas */
}

.navbar-brand:hover, .navbar-nav .nav-link:hover {
    color: #cccccc; /* Color del texto al pasar el cursor sobre las pestañas */
}

.form-control {
    width: 150px; /* Ancho del campo de búsqueda */
}

.btn-search {
    color: #ffffff; /* Color de texto blanco para el botón de búsqueda */
    border-color: #ffffff; /* Color del borde del botón de búsqueda */
}

.btn-search:hover {
    color: #cccccc; /* Color de texto al pasar el cursor sobre el botón de búsqueda */
    border-color: #cccccc; /* Color del borde al pasar el cursor sobre el botón de búsqueda */
}


/*-----------------FOOTER-------------------*/

.footer {
    background-color: #6c757d; /* Color de fondo para el pie de página */
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.social-icons img {
    width: 30px; /* Ancho de las imágenes de los iconos sociales */
    height: 30px; /* Altura de las imágenes de los iconos sociales */
}

.text-white {
    color: #ffffff; /* Color del texto */
}



/*--------------------HEAD VIEW------------------*/


body {
    background-color: #f0f0f0; /* Color de fondo para todo el cuerpo */
    text-align: center; /* Centrar el texto principal */
    padding: 20px; /* Espaciado interior para el cuerpo */
}

header {
    background-color: #3498db; /* Color de fondo para el encabezado */
    color: white; /* Color del texto del encabezado */
    padding: 10px; /* Espaciado interior para el encabezado */
}


/*--------------------QUIENES SOMOS-----------------*/

.custom-card {
    width: 18rem;
}


/*---------------------ACERCA DE----------------------*/

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

.content {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.objetivos {
    font-size: 1.2em;
    line-height: 1.6;
    text-align: justify;
    background-color: #e9ecef; /* Color de fondo del párrafo */
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px; /* Margen inferior */
}

.objetivos h2 {
    margin-bottom: 15px;
}


/*-------------------REGISTRARSE------------------------*/

body {
    background-color: #f8f9fa;
    padding: 20px;
}
.card {
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px; /* Añadir margen inferior */
}



/*--------------------LOGIN-----------------------------*/

body {
    background-color: #f8f9fa;
    padding: 20px;
}

.card {
    max-width: 400px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
